body {
  margin: 0;
  font-family: Arial, sans-serif;
}

/* Navbar style */
.navbar {
  position: fixed;     /* stays on top */
  top: 0;
  width: 100%;
  background: transparent;
  padding: 15px;
  transition: 0.3s;
}

/* Navbar when scrolled */
.navbar.scrolled {
  background: black;
}

/* Menu */
.navbar ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.navbar ul li {
  margin: 0 20px;
}

/* Links */
.navbar ul li a {
  text-decoration: none;
  color: white;
  font-size: 18px;
  transition: 0.3s;
}

/* Hover effect */
.navbar ul li a:hover {
  color: yellow;
  font-size: 20px;
}

.content {
  margin-top: 80px;
  padding: 20px;
  background: #f4f4f4;
  }
